<!-- this form is an example of form group-->
<h3 class=" panel  panel-heading">Profile Editor Form</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container register_form">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip">*First Name</label>
                <input class="form-control" type="text" formControlName="firstName">
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip"> Last Name:</label>
                <input class="form-control" type="text" formControlName="lastName" required>
            </div>
        </div>
      </div>
        <!-- nested form control elements -->
        <div class="container" formGroupName="address">
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <h3> Address</h3>  
                </div>
            </div>
        
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip"> street</label>
                <input class="form-control" type="text" formControlName="street">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip"> City</label>
                <input class="form-control" type="text" formControlName="city">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip"> State</label>
                <input class="form-control" type="text" formControlName="state">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <label for="inputZip"> Zip</label>
                <input class="form-control" type="text" formControlName="zip">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6  alert alert-danger">
                <p>
                    Form Status: {{ profileForm.status }}
                  </p>
            </div>
        </div>


      </div>

 <!-- nested form control elements ends-->
        <div class="row justify-content-md-center btn_div">
              <!-- <div class="col-lg-6 btn_align">
                  <button class="btn btn-success btn-lg sub_btn submit_btn" type="submit" [disabled]="!profileForm.valid">Submit</button>
              </div> -->
              <div  class="col-lg-1 col-lg-offset-3">
                  <button class="btn btn-success " type="submit" [disabled]="!profileForm.valid">Submit</button>
              </div>
              <div class="col-lg-1 ">
                  <button class="btn btn-success " (click)="updateProfile()">Update Profile</button>
              </div>
              <div class="col-lg-1">
                  <button class="btn btn-success" (click) = "resetProfile()" >Reset</button>
              </div>
        </div>
 
</form>