.submit_btn{
    text-align: center;
    margin: 2% 0% 1% 0%;
}
.sub_btn{
    padding: 4px 25px;
}
.btn_align{
    text-align: center;
    margin: 8px 2px;
}
.btn_div{
    margin: 12px 0px;
}