<!-- <app-child-article [childMessage] = 'parentMessage'></app-child-article> -->
<h3 class=" panel  panel-heading">Welcome User</h3>
<div class="container">
  <table class="table table-striped">
    <thead>
<tr>
  <th scope="col">Sr.No</th>
  <th scope="col">Title</th>
  <th scope="col">Link</th>
  <th scope="col">Total Votes</th>
  <th scope="col">Vote</th>
  <th scope="col">More</th>
</tr>
</thead>
<tbody class="table table-striped">
<tr  *ngFor="let names of myArtiles.brandNames; let i= index"  scope="row">
  <td>{{i+1}}</td>
  <td >{{names.name}}</td>
  <!-- <td><a href="{{names.URL}}" (click)="gotoUrl()">{{names.URL}}</a></td> -->
  <td><p class="link" (click)="gotoUrl(i)">{{names.urlName}}</p></td>
  <td *ngIf="i == 0" ><span>{{gCount}}</span></td>
  <td *ngIf="i == 1" ><span>{{fCount}}</span></td>
  <td *ngIf="i == 2" ><span>{{lCount}}</span></td>
  <td *ngIf="i == 3" ><span>{{aCount}}</span></td>
  <!-- <td *ngIf="i == 3" ><span>{{lCount}} {{names.votes }}</span></td> -->
    <!-- {{list.votes}}</td> -->
  <td> <button type="button" class="btn btn-success" (click)="countVotes(i)"><i class="fas fa-thumbs-up fa-lg"></i></button> </td>
  <!-- <td> <i class="fas fa-thumbs-up" (click)="countVotes(i)"></i>{{list.title}}</button> </td> -->
  <button type="button" class="btn btn-success readIcon" routerLink = " '/childArticle',1234 "><i class="fas fa-book-open fa-lg"></i></button>
</tr>

</tbody>
</table>
<!-- <ul>
  <li *ngFor = "let names of myArtiles.brandNames">
    {{names.name}}
  </li>
</ul> -->
</div>