<form (ngSubmit)="onSubmit()">
<p>
  register-model-form works!
</p>
<!-- <form <strong>[formGroup]="form" (ngSubmit)="onSubmit()"</strong>>

  <input <strong>formControlName="title"</strong> required />

  <span *ngIf="<strong>(form.get('title').touched || form.get('title').dirty) </strong>
<strong>        && form.get('title').errors?.required</strong>">
      Title is a required field: please enter a valid title.
  </span>

  <button type="submit" name="btnSubmit"
      [disabled]="form.invalid">
      Submit
  </button>

</form> -->

<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<p>
  <button (click)="updateName()">Update Name</button>
  <button type="submit">submit</button>
</p>
<p>
  Value: {{ name.value }}
</p>
</form>