<h3 class=" panel  panel-heading">REGISTER</h3>
<form novalidate autocomplete="off" #form="ngForm">
<div class="container register_form">
    <div class="row justify-content-md-center">
      <div class="col-lg-4">
          <label for="inputZip">*First Name</label>
          <input type="text" class="form-control" required minlength="4"  id="name" name="name" [(ngModel)]="data.Name" #name="ngModel" /> 
          <div *ngIf="(name.touched || name.dirty) && name.errors?.required"  class="alert alert-danger">
              Name is mandatory, please enter a valid name.
          </div >
      </div>
     
      <div class=" col-lg-offset-4 col-lg-4 ">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="inputZip">
          
      </div>
     
    </div>
      <div class="row justify-content-md-center">
           <div class="form-group col-md-4">
               <label for="inputState">*Country</label>
                  <select id="inputState" class="form-control" required>
                    <option selected>Country</option>
                    <option>India</option>
                  </select> 
          </div>
         
          <div class=" col-md-4 col-md-offset-4">
              <label for="inputState">*State</label>
                 <select id="inputState" class="form-control" required>
                   <option selected>State</option>
                   <option>Delhi</option>
                   <option>Assam</option>
                 </select> 
         </div>
         
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <label for="inputZip">Landmark</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
           
            <div class=" col-lg-offset-4 col-lg-4 ">
                <label for="inputZip">*Pincode</label>
                <input type="text" class="form-control" id="inputZip" required>
            </div>
           
          </div>
          <div class="row justify-content-md-center">
              <div class="col-lg-4">
                  <label for="inputZip">*Email ID</label>
                  <input type="text" class="form-control" id="inputZip"  required>
              </div>
             
              <div class=" col-lg-offset-4 col-lg-4 ">
                  <label for="inputZip">Address</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
             
            </div>
          <div class="row">
              <div class="submit_btn">
            <button class="btn btn-success btn-lg sub_btn"  name="btnSubmit" (click)="onSubmit()" [disabled]="form.invalid" >Register</button> 
          </div>
          
          </div>
  </div>
</form>
<!-- for example 2 starts -->

<!-- 
<div class="container">
    <h2>Angular Template Driven Form Validation</h2>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <input id="name" name="name" class="form-control"
        required minlength="4" appForbiddenName="bob"
        [(ngModel)]="data.name" #name="ngModel"/>
      </div>
      <div class="form-group">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
            <p>name is required of more than 4 character</p>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.form.pristine || f.form.invalid">Add Name</button>
      </div>
    </form>
  </div> -->
  <!-- for example 2 ends -->


  <!-- <form novalidate autocomplete="off" #form="ngForm">
    
      <input type="text" name="title" value="" required
          placeholder="Insert a title..." 
          [(ngModel)]="data.Title" #title="ngModel" minlength="4"
          />
  
      <button name="btnSubmit" 
          (click)="onSubmit()"
          [disabled]="form.invalid">
          Submit
      </button>
      <div *ngIf="(title.touched || title.dirty) && title.errors?.required || title.invalid">
          Title is a required field: please enter a valid title.
      </div>
  
  </form> -->