
<router-outlet></router-outlet>
  <div class="bg_img">
  <div class="container-fluid ">

    <!-- <h3 class="jumbotron jumbotron-fluid">Home Page!</h3> panel-heading-->
    <h3 class=" panel  panel-heading">Home Page</h3>

    <!-- <div class="container">
      <img class = "image_main img-circle" src="assets/images/Desert.jpg">
      <img class = "image_main img-rounded" src="assets/images/Chrysanthemum.jpg">
    </div>

    <div class="container ">
        <img class = "image_main img-rounded" src="assets/images/Chrysanthemum.jpg">
        <img class = "image_main img-circle" src="assets/images/Hydrangeas.jpg">
      </div>Penguins.jpg-->
  
<!--   
      <div class="container-fluid"   [ngStyle]="{background: 'url(./assets/images/Penguins.jpg)'}">
         <img class = "image_main img-rounded" src="assets/images/Penguins.jpg">
        [style.background]="'url(/images/' + trls.img + ')'" 
      </div> -->
  
  
    </div> 

  </div>